<div class="container">
    <h1 class="my-5">Top Rated</h1>
    <div>
        <div *ngIf="beers$ | async as beers; else loadingOrError" class="d-flex flex-wrap">

                <div *ngFor="let beer of beers">
                    <app-beer [beer]="beer" data-cy="beerCard"></app-beer>
                </div>
        </div>  
        <ng-template #loadingOrError>
            <span *ngIf="errorMessage; else loading">Error loading the beer list: {{ errorMessage }}. <br/>
                Please try again later.</span>
            <ng-template #loading>
            <mat-spinner></mat-spinner>
            </ng-template>
        </ng-template>
    </div>
</div>
