<h4>Add Review</h4>

<!--<mat-card>-->   
<form [formGroup]="review" (ngSubmit)="onSubmit()"> 
<!--    <mat-form-field> -->
        <input 
            matInput 
            aria-label="rating" 
            type="text"
            formControlName="rating"
            data-cy="ratingInput"
            required
            #spy
        />
        <mat-error data-cy="ratingError" *ngIf="review.get('rating')['errors'] && review.get('rating').touched">
            {{ getErrorMessage(review.get('rating')['errors']) }}
        </mat-error>
<!--    </mat-form-field>-->
<!--    <mat-form-field> -->
        <input 
            matInput 
            aria-label="description" 
            type="text"
            formControlName="description"
            data-cy="descriptionInput"
        />
        <mat-error *ngIf="review.get('description')['errors'] && review.get('description').touched">
            {{ getErrorMessage(review.get('description')['errors']) }}
        </mat-error>
<!--    </mat-form-field>-->
    <button type="submit" mat-raised-button [disabled]="!review.valid" data-cy="addReviewButton">
        Add 
    </button>
<!--</mat-card>-->
</form>
REMOVE {{review.value | json}}
{{ spy.className}}
REMOVE {{ review.get('rating')['errors'] | json }}

