<mat-card>
    <mat-card-content>
        <div class="d-flex flex-row">
            <div class="img-container">
                <img src="{{beer.image_url}}"/>
            </div>       
            <div>
                <p>Name:<br>{{ beer.name }}</p>
                <p>Abv (%):<br>{{ beer.abv }}</p>
                <p>Country:<br>{{ beer.country }}</p>
                <p>Reviews:</p>
                <div *ngFor="let review of beer.reviews">
                    <app-review [review]="review"></app-review>
                </div>
            </div>
        </div>
        <!--<div>
            <app-add-review (newReview)="addNewReview($event)"></app-add-review>
        </div>-->
    </mat-card-content>
</mat-card>